<h1>Add Product Page</h1>

<div class="mb-3">
    <label for="pwd" class="form-label">Password:</label>
    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
</div>
<button>Submit</button>